.name-conditions-item {
    padding: 6px 0;
}
.name-conditions-item-control {
    height: 28px;
    float: left;
    padding: 0 7px 0 0;
}
.name-conditions-item-control select,
.name-conditions-item-control input {
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 10px;
    background: white;
}
.name-conditions-item-remove {
    height: 28px;
    width: 28px;
    border-radius: 13px;
    background: #d9534f;
    cursor: pointer;
    color: white;
    padding: 4px 0 0 9px;
}
.name-conditions-item-control input {
    width: 269px;
}
.clear {
    clear: both;
}
.name-conditions-add {
    height: 28px;
    width: 140px;
    border-radius: 13px;
    background: #5bc0de;
    color: white;
    font-weight: bold;
    padding: 5px 0 0 9px;
    margin: 10px 0 10px 0px;
    cursor: pointer;
}