.chart-fields-selector i {
    cursor: pointer;
}
.chart-fields-selector-indexes {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 3px;
    min-width: 150px;
    z-index: 1;
    padding-top: 6px;
}
.chart-fields-selector-indexes .checkbox {
    padding: 0 6px;
    margin: 0 0 6px 0;
}
.chart-fields-selector-indexes .checkbox:hover {
    background: #f7f7f7;
}
.chart-fields-selector-indexes .checkbox label {
    display: block;
}
#googleChartsPlaceholder {
    min-height: 200px;
}