.table-form thead a {
    display: block;
    padding: 8px 0 8px 8px;
}
.sorting,
.sorting_asc,
.sorting_desc
{
    cursor: default !important;
    padding: 0 30px 0 0 !important;
}
.table-form tbody a {
    text-decoration: underline;
}