a {
    cursor: pointer;
}

.title_right {
    min-height: 50px;
}

.my-custom-menu {
    max-height: 350px;
    overflow-y: auto;
}

.my-show {
    display: block;
}

.my-custom-menu .my-active > a {
    text-decoration: underline;
}

.x_panel {
    min-width: 1030px;
}