.table-fields-selector {
    display: inline-block;
}
.table-fields-selector i {
    cursor: pointer;
}
.table-fields-selector-indexes {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 3px;
    min-width: 150px;
    z-index: 1;
    padding-top: 6px;
}
.table-fields-selector-indexes ul {
    padding-left: 0;
    margin-bottom: 0;
}
.table-fields-selector-indexes ul li i {
    display: block;
    float: right;
    margin-left: 10px;
    width: 3px;
    overflow: hidden;
}
.table-fields-selector-indexes .checkbox {
    padding: 0 6px;
    margin: 0 0 6px 0;
}
.table-fields-selector-indexes .checkbox:hover {
    background: #f7f7f7;
}
.table-fields-selector-indexes .checkbox label {
    display: block;
}