.condition-group {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #e0ffe0;
}
.condition-group-period {
    padding: 7px;
    border-bottom: 1px solid #ccc;
}
.condition-group-period input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 3px;
    text-align: center;
}
.condition-group-item {
    height: 42px;
    padding: 7px;
}
.condition-group-item-control {
    height: 28px;
    float: left;
    padding: 0 7px 0 0;
}
.condition-group-item-control select,
.condition-group-item-control input {
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 10px;
    background: white;
}
.condition-group-item-remove {
    height: 28px;
    width: 28px;
    border-radius: 13px;
    background: #d9534f;
    cursor: pointer;
    color: white;
    padding: 4px 0 0 9px;
}
.condition-group-item-and {
    height: 28px;
    width: 28px;
    border-radius: 13px;
    background: #5cb85c;
    color: white;
    font-weight: bold;
    padding: 5px 0 0 9px;
    position: relative;
    top: -23px;
}
.condition-group .condition-group-item:first-child .condition-group-item-and {
    visibility: hidden;
}
.condition-or-label {
    height: 28px;
    width: 47px;
    border-radius: 13px;
    background: #5cb85c;
    color: white;
    font-weight: bold;
    padding: 5px 0 0 9px;
    margin: 10px 0;
}
.condition-group-item-add {
    height: 28px;
    width: 97px;
    border-radius: 13px;
    background: #5bc0de;
    color: white;
    font-weight: bold;
    padding: 5px 0 0 9px;
    margin: 10px 0 10px 42px;
    cursor: pointer;
}
.condition-group-item-add-or {
    width: 115px;
}
#condition-container > div > div:nth-child(1) > div.condition-or-label,
td.check-rules > div > div:nth-child(1) > div.condition-or-label {
    display: none;
}
.condition-group-period span,
.condition-group-item-control span {
    display: none;
}