.connects a {
    color: white;
    text-decoration: underline;
}
table.project {
    width: 100%;
}
table.project tr td {
    width: 25%;
}
a.connect {
    display: block;
}
.well {
    margin: 10px 20px 10px 0!important;
    min-height: 100px!important;
}
.crm-field {
    width: 100%;
    margin-bottom: 10px;
}
.modal-content {
    color: #73879C;
}
.goals-selector {
    margin: 20px 0;
}
.goals {
    height: 200px;
    overflow: overlay;
    display: none;
}