#wizard{visibility: hidden;}
.rule-validate{float:left;}
.label{font-size:90%}
.rule-monthday input{
    width: 60px;
    display: inline-block;
}
.rule-monthday .suffix {
    display: inline-block;
    width: 180px;
    margin-left: -10px;
    border-left: none;
}
.campaigns {
    max-height: 200px;
    overflow-y: scroll;
}

.check-rules .condition-group-item-remove,
.check-rules .condition-group-item-add,
.check-rules .condition-group-item-add-or,
.check-rules .condition-group-period input,
.check-rules .condition-group-item-control select,
.check-rules .condition-group-item-control input {
    display: none;
}
.check-rules .table tr:first-child td {
    border: none;
}
.check-rules .condition-group-period span,
.check-rules .condition-group-item-control span {
    display: inline!important;
}
.check-rules > div > div:nth-child(1) > div.condition-or-label {
    display: none;
}