.campaigns {
    max-height: 200px;
    overflow-y: scroll;
}

.condition-group-item-remove,
.condition-group-item-add,
.condition-group-item-add-or,
.condition-group-period input,
.condition-group-item-control select,
.condition-group-item-control input {
    display: none;
}
.table tr:first-child td {
    border: none;
}
.condition-group-period span,
.condition-group-item-control span {
    display: inline!important;
}