.auction-bids {
    margin-top: 10px;
}
.auction-bids table {
    margin: 0;
    font-size: 11px;
    float: right;
}
.auction-bids table td {
    text-align: right;
    padding-left: 10px;
    white-space: nowrap;
}
.bid-changer {
    background: inherit;
    border: none;
    width: 90%;
}
.bid-changer:focus {
    background: white;
    border: 1px solid #a9a9a9;
}
.auction-bids-selector {
    background: white;
    border: 1px solid #a9a9a9;
    padding: 6px 0;
    position: absolute;
}
.auction-bids-selector table {
    min-width: 300px;
}
.auction-bids-selector table tr td:first-child {
    padding-left: 6px;
}
.auction-bids-selector table tr td:nth-child(3) {
    padding-right: 6px;
}
.auction-bids-selector table tr:hover {
    cursor: pointer;
    background: #f7f7f7;
}
.auction-bids-selector {
    display: none;
}
.negative {
    display: none;
    position: absolute;
    width: 300px;
    min-height: 100px;
    background: white;
    border: 1px solid #a9a9a9;
    padding: 6px;
}
.negative div {
    text-align: right;
}
.negative div i {
    cursor: pointer;
}
.negative-show {
    display: block;
    padding-top: 10px;
    font-size: 11px;
}