html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/*.wrap > .container {
    padding: 70px 15px 20px;
}*/

/*.footer {
    background: url(/img/footerback.png) 100% 100%;
    height:540px;
    background-size: cover;
    display:table;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width:100%;
    text-align:center;
}

.footer-bear
{
    display:table-cell;
    vertical-align:bottom;
}*/

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}


/*new --->*/

/*шрифты-->*/
@font-face {
    font-family: Exo2-ExtraLight;
    src: url(/css/fonts/Exo_2/Exo2-Light.ttf);
}
@font-face {
    font-family: Exo2-Light;
    src: url(/css/fonts/Exo_2/Exo2-Light.ttf);
}
@font-face {
    font-family: Exo2-Medium;
    src: url(/css/fonts/Exo_2/Exo2-Medium.ttf);
}
@font-face {
    font-family: Exo2-Thin;
    src: url(/css/fonts/Exo_2/Exo2-Thin.ttf);
}

@font-face {
    font-family: Exo2-Regular;
    src: url(/css/fonts/Exo_2/Exo2-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(/css/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/css/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/css/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/css/fonts/Roboto/Roboto-Bold.ttf);
}

/*<---шрифты*/

/*заголовки --->*/
.h1, h1,.h1-white {
    font-size:60px;
	line-height:1.7;
    text-align:center;
	font-family:Exo2-ExtraLight;
}
.h2, h2 {
    font-size:36px;
    text-align:center;
}
.h3, h3 {
    font-size:24px;
    text-align:center;
}
h1.white,.h1-white{
	font-family:Exo2-ExtraLight;
	color:#fff;
}
h1.black,.h1-black{
	font-family:Exo2-Light;
	color:#000;
	font-size:60px;
	text-align:center;
}
h2.black,.h2-black{
	text-align:center;
	font-family:Exo2-Thin;
	color:#000;
	font-size:36px;
	line-height:36px;
	font-weight:600;
}
h2.white {
	color:#fff;
	font-family:Exo2-Light;
}
h3.white {
	font-family:Exo2-Light;
	font-size:24px;
	color:#fff;
}

.h2-brown-active {
	font-size:36px;
	font-family:Exo2-Regular;
	color:#BF5C30;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
}
.h2-brown {
	font-size:36px;
	font-family: Exo2-Light;
	color:#BF5C30;
	text-decoration:dashed;
	border-bottom: 1px dashed #BF5C30;
    cursor: pointer;
	display:inline-block;
}

/*<----заголовки*/

/*.main-slider {
	max-height:550px;
}*/
.main-slider .carousel-control{
	display:none;
}
.main-slider-div {
	height:100%;
}
.main-slider-div-div {
	display:table;
	height:100%;
	width:100%;
}
.main-slider-div-div-div {
	display:table-cell;
	vertical-align:middle;	
}
.main-slider-background {
	height:531px;
}
.h1-main-slider {
	color: #333;
	text-shadow: none;
	line-height:55px;
	font-family:Exo2-Light;
	padding-bottom:40px;
	font-size:49px;
	margin-top:22px;
	text-align:center;
}
.text-main-slider {
	color:#333;
	text-shadow:none;
	font-size:24px;
	font-family:Exo2-Light;
	padding-bottom:50px;
	text-align:center;
}
.main-slider .carousel-indicators li:not(.active){
	background:#fff;
	width:18px;
	height:18px;
	margin-left:8px;
	margin-right:8px;
}
.main-slider .carousel-indicators li.active {
	background:#BF5C30;
	border: 1px solid transparent;
	width:18px;
	height:18px;
	margin-left:8px;
	margin-right:8px;
}
.main-slider .carousel-caption {
	display:none;
}

@media screen and (min-width: 768px) {
	.carousel-caption {
		right:0px;
		left:0px;
		bottom: 0px;
		height: 100%;
	}
}
.carousel-caption {
		right:0px;
		left:0px;
		bottom: 0px;
		height: 100%;
}

.cases {
	padding-bottom: 140px;
}
.cases-avatar {
	height:80px;
	width:80px;
	overflow:hidden;
	border-radius:50%;
}
.cases-header-text {
	float:left;
	text-align:left;
	padding-left:20px;
}
.cases-header-text-1 {
	font-family:Exo2-Light;
	font-size:24px;
	color:#fff;
	line-height:40px;
}
.cases-header-text-2 {
	font-family:Roboto-Bold;
	font-size:18px;
	color:#fff;
	line-height:40px;
}

.scopes {
	padding-bottom:90px;
}
.scopes,.cases {
    background: #40A5BD url("/img/white-grass2.png") repeat-x bottom;
}
.advantages {
    padding-bottom:90px;
    background: #BF5C30;
}
.advantages .row {
	text-align: center;
}
.advantages-item{
	width:100%;
	max-width:480px;
	float:none;
	display:inline-block;
}
.advantages-item-1,.advantages-item-2  {
	height:116px;
}
.advantages-table{
	padding:18px;
	display:table;
	border:1px solid transparent;
	max-width: 480px;
    width: 100%;
}
.advantages-table:hover{
	border: 1px solid #fff;
	border-radius: 10px;
	cursor:pointer;
}
.advantages-table > img {
	margin-right:18px;
}
.advantages-table > h3 {
	text-align:left;
	width:100%;
}
.advantages-table-cell{
	display:table-cell;
	vertical-align:top;
}



.scopes-div-header img{
	float:left;
	margin-right:20px;
	position:relative;
	top:10px;
}
.scopes-div-header h2{
	text-align:left;
	margin-bottom:25px;
}

.scopes-div1 ol, .scopes-div2 ol{
	padding-right:47px;
}
.scopes-div3 ol{
	padding-right:57px;
}







.main-menu {
	-webkit-box-shadow: 0px 0px 15px -5px #000;
    -moz-box-shadow: 0px 0px 15px -5px #000;
    box-shadow: 0px 0px 15px -5px #000;
	height: 45px;
    position: relative;
    z-index: 1;
    //
	/*box-shadow: 87 29 10px rgba(0,0,0,0.5);*/
    width: 100%;
}
.main-menu, .footer-menu {
    background:#40a5bd;
}
.footer-menu {	
	-webkit-box-shadow: 0px 2px 15px -5px #000;
    -moz-box-shadow: 0px 2px 15px -5px #000;
    box-shadow: 0px 2px 15px -5px #000;
	position:relative;
	height:54px;
	overflow:hidden;
}
.main-menu-bottom {
	/*position:absolute;
	z-index:1;
	width:100%;*/
	text-align:center;
	padding-top:9px;
	height: 43px;
    position: absolute;
    overflow: hidden;
}
/*.main-menu-bottom-div {
	text-align:center;
	padding-top:10px;
}*/
.footer-menu-item {
padding-right:35px;
}
.main-menu-bottom-div {
	padding-right:77px;
}
.main-menu-bottom-div,.footer-menu-item {
	float:left;
}
.main-menu-bottom-div:last-child{
	float:right;
}
/*.main-menu-bottom-div-1,.footer-menu-item-1{
	width:13%;
	float:left;
	text-align:left;
	padding-left:5px;
}
.main-menu-bottom-div-2,.footer-menu-item-2{
	width:28%;
	float:left;
	padding-left:20px;
	text-align:center;
}
.main-menu-bottom-div-3, .footer-menu-item-3{
	float:left;
	width:15%;
	text-align:center;
}
.main-menu-bottom-div-4, .footer-menu-item-4{
	float:left;
	width:18%;
	text-align:center;
}
.main-menu-bottom-div-5, .footer-menu-item-5{
	float:left;
	width:14%;
	text-align:center;
}
.main-menu-bottom-div-6, .footer-menu-item-6{
	float:left;
	width:12%;
	text-align:right;
}*/
.main-menu-bottom-item,.main-menu-bottom-item:hover,.main-menu-bottom-item:focus {
	color:#BF5C30;
	font-size:24px;
	font-family:Exo2-Medium;
	text-decoration:none;
	letter-spacing:1px;
	cursor:pointer;
}
.logo-image {
	margin-right: 5px;
}
.logo-div {
	letter-spacing:2px;
}
.logo-div, .logo-div a, .main-menu-d-d,
.main-menu-d3-d1, .main-menu-d3-d2,.main-menu-d3-d3,
.main-menu-d2-d1,.main-menu-d2-d2,.main-menu-d2-d3
{
	font-size: 21px;
	color:#fff;
	font-family:Exo2-Light;
	display:table-cell;
	height:inherit;
	vertical-align:middle;
}
.logo-div a {
	text-decoration:none;
}
.main-menu-d2-d1,.main-menu-d3-d1 {
	text-align:right;
}
.main-menu-d2-d3 {
	text-align:left;
}

.main-menu-d3-d3{
	width:106px;
	text-align:right;
}
.main-menu-d2-d2, .main-menu-d3-d2 {
	padding:0 7px;
	width:6px;
}
/*.main-menu-d1 a,.main-menu-d2 a,.main-menu-d3 a{
	color:#fff;
}*/

.main-menu-d2 {
	text-align:center;
}

.main-menu-d,.main-menu-d2, .main-menu-d3{
	display:table;
	height:45px;
	width:100%;
}



.how-it-works {
	padding-bottom:110px;
}
.how-it-works-col1{
	padding-top:100px;
}


.additional_services a.brown-button{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border:1px solid #fff;
	border-radius:10px;
}

.additional_services {
	background: #bf5c30 url('/img/bamboo.png') repeat-x bottom;
    padding-bottom: 50px;
    background-size: contain;
}
.additional-services-item{
	padding-right:70px;
}
.additional-services-item-header{
	height:90px;
}
.additional-services-item-body{
	height:220px;
	margin-bottom:40px;
}
.additional-services-item-button{
	text-align:center;
	height:60px;
}
.video {
	padding-bottom:50px;
}

.video .carousel-control.left, .cases .carousel-control.left {
	text-align:left;
	width:60px;
}
.video .carousel-control.right, .cases .carousel-control.right {
	text-align:right;
	width:60px;
}
.video .carousel-control {
	color:#bf5c30;
}
.cases .carousel-control {
	color:#fff;
}
.video .carousel-control, .cases .carousel-control{
    /*top:25%;*/
    bottom:25%;
    font-size:16em;
	opacity:1;
	text-shadow:none;
	background: transparent;
	font-family: Exo2-Thin;
}
.video .carousel .row, .cases .carousel .row{
	max-width:960px;
	width:100%;
	display:inline-block;
}
.video .carousel .video-frame{
	border: 5px solid #BF5C30;
	border-radius: 15px;
	/*width:100%;
	height:100%;*/
	width:470px;
	height:360px;
	overflow:hidden;
}
.cases-text {
	float:left;
	padding-top:20px!important;
}
.video .carousel .video-text, .cases .carousel .cases-text  {
	text-align:left;
	padding-top:0px;
	padding-right:80px;
	/*font-weight:bold;*/
}

.video .carousel-indicators,.cases .carousel-indicators {
	display:none;
}
.video .carousel-caption,.cases .carousel-caption{
	display:none;
}

.tariffs {
	padding-bottom:100px;
}
.tariffs-col1 {
	padding-right:40px!important;
}
.tariffs-col2 {
	padding-left:40px!important;
}
.tariffs-col1-button {
	text-align:center;
	padding-top:25px;
}
.socials{
	display:table;
}
.socials-item{
	display:table-cell;
	vertical-align:middle;
	padding-right:35px;
}
.news{
	padding-bottom:100px;
	padding-top:30px;
}
.news-date {
	float:right;
	font-family:Exo2-Light;
	font-size:24px;
	position:absolute;
	right:0px;
	top:7px;
}
.news-block-2 {
	padding-left:15px;
}

.footer-col2 {
	text-align:center;
}
.footer-col3 {
	text-align: right;
}
.footer-col3-inner{
	float:right;
}

.footer {
    background: url(/img/footerback.png) 100% 100%;
    /*height:540px;*/
    background-size: cover;
    /*display:table;
    height: 60px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width:100%;
    /*text-align:center;*/
}

.footer-col3-div{
	color: #bf5c30;
	text-decoration: underline;
	padding-bottom:30px;
	padding-right:20px;
}
	
.footer-bear {
    display:table-cell;
    vertical-align:bottom;
}

.template img {
	max-width:100%;
	display:inline-block;
}
.breadcrumbs {
	margin-top:55px;
}
.breadcrumb {
	background-color:transparent;
	padding-left:3px;
	margin-bottom:15px;
}
.breadcrumb li a{
	font-family:Roboto-Light;
	font-size:18px;
	text-decoration:underline;
	color:#BF5C30;
}
.breadcrumb li.active,.breadcrumb li.active a,.breadcrumb > li + li:before{
	color:#333333!important;
	font-family:Roboto-Light!important;
	font-size:18px!important;
}
.modal-header .close {
	font-size:33px;
	font-weight:400;
}
.modal-size {
	max-width:468px;
	width:100%;
}
.modal-header {
	padding-bottom:0px;
	border:1px solid transparent;
}
.modal-body {
	padding:30px;
	padding-top:15px;
}
input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px white inset!important;
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
#orderACall input {
	text-align:center;
}
.form-group.has-success .control-label {
	color:#3c763d;
}
.form-group .control-label {
    position: absolute;
    top: -10px;
    background-color: #fff;
    left: 20px;
	padding-left:5px;
	padding-right:10px;
	font-family:Roboto-Light;
	font-size:16px;
	color:#BF5C30;
}

.form-group input {
	height:55px;
	border-radius:10px;
	border-color:#BF5C30;
	font-family:Roboto-Light;
	font-size:18px;
	outline:none;
}

.form-group.has-error .help-block-error {
	position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
	max-width:300px;
	background:#BF5C30;
	font-family:Roboto-Light;
	font-size:18px;
	color:#fff;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:13px;
	border-radius:10px;
	margin:0px;
	margin-left:18px;
	text-align:left;
}
.form-group.has-error .help-block-error:before {
    right: 100%;
	content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    top:8px;
	border: 17px solid transparent;
	border-right: 9px solid #BF5C30;
}
.form-button {
	width:100%;
}

.form-group {
	position:relative;
}

/*text style*/
.text-black {
	color:#333;
	font-size:18px;
	font-family:Roboto-Light;
	line-height:28px;
	padding-top:15px;
	padding-bottom:40px;
}
.text-white{
	color:#fff;
	font-size:18px;
	font-family:Roboto-Light;
	line-height:30px;
}
/*end text style*/

/*hrefs-->*/
a.brown,a.brown:visited {
	font-family: Roboto-Light;
	color:#BF5C30;
	font-size:18px;
	text-decoration:underline;
}
a.brown:hover {
	color:#E6662E;
}

a.white{
	font-family:Roboto-Light;
	font-size:18px;
	color:#fff;
	text-decoration:underline;
}
a.white:hover{
	font-family:Roboto-Light;
}
a.white:visited{
	font-family:Roboto-Regular;
}

a.footer-menu-item{
	font-size:24px;
	line-height:54px;
	font-family:Exo2-Light;
	color:#fff;
	text-decoration:none;
	letter-spacing: 1px;
    cursor: pointer;
}
a.footer-menu-item:hover{
	/*font-family:Exo2-Regular;*/
	text-shadow:0px 0px #fff,0 0 0em #fff;/*имитация толщины шрифта Exo2-Regular*/
}
/*<----hrefs*/


/*кнопки*/
a.brown-button,button.brown-button {
    padding:10px 40px;
    background:#bf5c30;
    border-radius:10px;
    display:inline-block;
    color:#fff;
	font-size:24px;
	font-family:Exo2-Light;
	letter-spacing:1px;
	text-shadow:none;
	-webkit-box-shadow: 0px 0px 15px -5px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 0px 15px -5px #000;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 0px 15px -5px #000;
	cursor:pointer;
	border:1px solid #bf5c30;
	outline:none;
}
a.brown-button:hover,button.brown-button:hover {
	color:#fff;
	background: #E6662E;
	text-decoration:none;
}
a.brown-button:focus,button.brown-button:focus {
	color:#fff;
	background: #E6662E;
	text-decoration:none;
	-webkit-box-shadow: none;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    none;  /* Firefox 3.5 - 3.6 */
	box-shadow:         none;
}

a.white-button {
	font-family:Exo2-Light;
	border:1px solid #fff;
	border-radius:10px;
	padding:10px 40px;
	display:inline-block;
	background:transparent;
	font-size:24px;
	letter-spacing:1px;
	text-shadow:none;
	text-decoration:none;
	color:#fff;
}
a.white-button:hover{
	text-shadow: 0px 0px #fff,0 0 0em #fff;
}

/*списки*/
ol.white {
	list-style-type: disc;
	padding-left:20px;
	margin-bottom:35px;
}
ol.white li{
	font-size:18px;
	line-height:28px;
	font-family:Roboto-Light;
	color:#fff;
	padding-bottom:15px;
}

/*rewrite*/
.container,.container-fluid {
	padding-left:0px!important;
	padding-right:0px!important;
}
.row {
	margin-left:0px!important;
	margin-right:0px!important;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
	padding-left:0px!important;
	padding-right:0px!important;
}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
	padding-left:0px!important;
	padding-right:0px!important;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
	padding-left:0px!important;
	padding-right:0px!important;
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
	padding-left:0px!important;
	padding-right:0px!important;
}
.navbar-collapse {
	padding-right:0px!important;
	padding-left:0px!important;
}

.main-slider .carousel-indicators {
		bottom:0px;
}
	
@media (min-width: 768px)
{
	.container {
		width:100%;
		padding-left:20px!important;
		padding-right:20px!important;
	}
}
@media (min-width: 992px){
	.container {
		width:100%;
		padding-left:20px!important;
		padding-right:20px!important;
	}
}

@media (min-width: 1200px)
{
	.container {
		max-width:1200px;
		width:100%;
		padding-left:0px!important;
		padding-right:0px!important;
	}
}

@media (max-width: 768px)
{
	.container {
		width:100%;
		padding-left:15px!important;
		padding-right:15px!important;
	}
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
/*rewrite*/


/*media-->*/
@media only screen and (max-width:1200px) {
	.advantages-item {
		float:left;
		max-width:50%;
	}
	.video .carousel-control,.cases .carousel-control {
		display:none;
	}
}
@media only screen and (max-width:992px) and (min-width:768px) {
	.tariffs .socials {
		max-width:235px;
		margin:0 auto;
	}
	.tariffs .socials .socials-item {
		float:left;
		padding-bottom:15px;
	}
	
	.video .carousel .video-text, .cases .carousel .cases-text {
		text-align: left;
		padding-top: 0px;
		padding-right: 80px;
		overflow: auto;
		height: 200px;
		text-overflow: ellipsis;
		max-width: 400px;
		width: 100%;
		word-wrap: inherit;
	}
}

@media (max-width: 992px) {
	h1,.h1-white,.h1-black{
		font-size: 45px;
		line-height: 55px;
	}
	.h2, h2,.h2-black ,.h2-brown-active,.h2-brown{
		font-size: 25px!important;
		line-height:45px!important;
	}
	
	.h1-main-slider{
		font-size:33px;
		line-height:37px;
		padding-bottom:20px;
	}
	.text-main-slider {
		padding-bottom: 20px;
		font-size: 18px
	}
	
	.video .carousel .video-frame {
		width: 100%;
	}
	.how-it-works {
		padding-bottom:0px;
	}
	.how-it-works-col1{
		padding-top:0px;
	}
	.footer-menu-item {
		padding-right:25px;
	}
	.advantages-item-1, .advantages-item-2 {
		height:auto;
	}
	
	.form-group.has-error .help-block-error {
		 position:relative;
		 left:auto;
		 top:auto;
		 margin-left:0px;
		 max-width:100%;
		 margin-top:18px;
	 }
	.form-group.has-error .help-block-error:before {
		right: 100%;
		content: ''; 
		position: absolute; /* Абсолютное позиционирование */
		top:-25px;
		border: 17px solid transparent;
		border-bottom: 9px solid #BF5C30;
		left: 45%;
		right: 45%;	
	}
}
@media only screen and (max-width:1060px) and (min-width:960px) {
	.additional-services-item-body {
		height:290px;
	}
}
@media only screen and (max-width:960px) and (min-width:860px) {
	.additional-services-item-body {
		height:320px;
	}
}
@media only screen and (max-width:860px) and (min-width:768px) {
	.additional-services-item-body {
		height:350px;
	}
}

@media only screen and (min-width:768px) {
	.nav-bar-container {
		padding-left:0px!important;
		padding-right:0px!important;
	}
	.news-h2 {
		padding-right:120px;
	}
}

@media (max-width: 767px) {
	
	.advantages-table > h3 {
		font-size:22px;
	}
	.h1-white, .h1-black {
		padding-top:15px;
	}
	.advantages .h1-white {
		font-size:35px;
	}
	.text-black {
		text-align:justify;
		padding-bottom:20px;
		padding-top:5px;
	}
	
	ol.white {
		padding-right: 0px;
		text-align: justify;
	}
	
	.tariffs {
		padding-bottom:50px;
	}
	.tariffs .socials {
		margin: 0 auto;
		max-width:230px;
	}
	.tariffs .socials .socials-item {
		float:left;
		display:inline-block;
		padding-bottom:15px;
		padding-left:15px;
		padding-right:15px;
	}
	.tariffs-col1 {
		padding-right:0px!important;
		padding-bottom:50px;
	}
	.tariffs-col2 {
		padding-left:0px!important;
	}
	.tariffs-col1-button {
		padding-top:0px;
	}
	
	/*.video .carousel .video-text, .cases .carousel .cases-text*/
	.video .carousel .video-text , .cases .carousel .cases-text{
		padding-right: 0px;
		text-align:justify;
		padding-top:15px;
		padding-bottom:15px;
		height: 170px;
		overflow: auto;
	}
	.cases .carousel-inner {
		padding-top:15px;
	}
	.news {
		padding-bottom:30px;
	}
	.news-date {
		width:100%;
		position:relative;
		top:0px;
	}
	.news-block-2 {
		padding-left:0px;
	}
	.additional-services-item-body {
		height:auto;
	}
	.additional-services-item {
		padding-right:0px;
	}
	.additional_services h2{
		text-align:left;
	}
	
	.advantages-item {
		max-width: 100%;
	}
   
	.footer {
		text-align:center;
	}
	.footer-col1 .logo-div{
		display:inline-block;
	}
	.footer-col2 {
		text-align:none;
		padding-top:20px;
		padding-bottom:20px;
	}
	.footer-col3 {
		text-align: center;
	}
	
	.footer-col3-inner {
		display:inline-block;
		float:none;
	}
	
	.footer-menu-item {
		padding-right:15px;
	}
	.footer-col3-div {
		padding-bottom:10px;
		padding-right:0px;
	}
	
	.navbar-header button{
		margin-bottom: 0px;
		margin-top: 5px;
		margin-right: 10px;
		border-color:transparent!important;
	}
	.navbar-header button .icon-bar{
		background-color:#fff!important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		border-radius: 0px;
		background-color: transparent;
		/*border: 1px solid #fff!important;*/
	}
	.navbar-collapse .container{
		padding-left:0px!important;
		padding-right:0px!important;
		background: #40a5bd;
	}
	/*.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus {
		border: 1px solid #40a5bd!important;
	}*/
	.main-menu-bottom{
		overflow:visible;
		width:100%;
	}
	.main-menu-bottom-div{
		float:none;
		width:100%;
		padding-right:0px;
		padding-left:15px;
		padding-right:15px;
		/*border-top:1px solid rgba(255,255,255,0.3);*/
		margin-top:5px;
		/*margin-bottom:5px;*/
	}
	.main-menu-bottom-div a{
		color:#fff;
		font-weight:400;
		display:inline-block;
		width:100%;
		padding-bottom:10px;

		border-bottom:1px solid rgba(255,255,255,0.3);
	}
	.main-menu-bottom{
		padding-top:0px;
	}
	.navbar {
		border-width: 0px;
	}
	.main-slider-div {
		background-color: rgba(255,255,255,0.5);
		padding-left:15px!important;
		padding-right:15px!important;
	}
	.main-slider-div {
		padding-bottom:10px;
	}
	.main-slider-background {
		height:auto;
	}
	.main-slider .carousel-indicators {
		display:none;
	}
	.breadcrumbs {
		margin-top:0px;
	}
}

.form-group .questionnaires-checkbox-list input {
	height: auto;
}

.top_nav .navbar-right li {
	display: inline-block;
	float: right;
	position: static;
}
.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
	background: #D9DEE4;
}

.nav.navbar-nav > li > a {
	font-family: Roboto-Light;
	font-size: 18px;
	color: #fff;
	text-decoration: underline;
	padding: 12px 15px;
}
/*<--media*/

.template-container .banner {
	width: 100%;
	height: 320px;
	background-color: #bbb;
	margin-bottom: 30px;
}

.template-container .left-menu {
	text-align: center;
	font-family: Exo2-ExtraLight;
	margin-bottom: 40px;
}

.template-container .left-menu ul {
	display: block;
	padding: 0;
	margin: 0;
}

.template-container .left-menu ul li {
	display: block;
	padding: 0;
	margin: 0;
}

.template-container .left-menu ul li a {
	color: #40a5bd;
	display: block;
	width: 100%;
	padding: 6px 6px;
	text-decoration: none;
	font-size: 18px;
}

.template-container .left-menu ul li a:hover,
.template-container .left-menu ul li a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #40a5bd;

}

.template-container .template {
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	font-family: Roboto-Light;
	font-size: 18px;
}

.template-container .template h1 {
	margin: -35px 0 16px 0;
}

.template-container .template h1,
.template-container .template h2,
.template-container .template h3,
.template-container .template h4 {
	font-family: Exo2-ExtraLight;
	text-align: left;
}
.template-container .template table {
	margin-bottom: 20px;
}
.template-container .template td {
	padding: 14px 44px;
}
.site-contact {
	margin-top: 50px;
}
