.campaign-selector {
    border: 1px solid #ccc;
}
.campaign-selector-filter input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 6px 10px;
}
.campaign-selector-list {
    padding-top: 10px;
    padding: 6px 10px;
}
.campaign-selector-all {
    padding: 6px 10px 0 10px;
}
.campaign-selector-list-items {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 6px 10px;
}
.campaign-selector-summary {
    padding: 6px 10px;
    border-top: 1px solid #ccc;
}
.campaign-selector-list-item-selected {
    background: #f7f7f7;
}
.campaign-selector-list-item:hover,
.campaign-selector-list-item-selected:hover {
    cursor: pointer;
    background: #5897fb;
}
.campaign-selector-all {
    cursor: pointer;
}
.campaign-selector-summary .clear {
    cursor: pointer;
}
.campaign-selector-summary .show-selected {
    cursor: pointer;
    display: block;
    float: right;
}